@font-face {
  font-family: "josefin";
  font-weight: 400;
  src: url("./font/JosefinSans-Regular.woff") format("woff");
  src: url("./font/JosefinSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "josefin";
  font-weight: 300;
  src: url("./font/JosefinSans-Light.woff") format("woff");
  src: url("./font/JosefinSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "josefin";
  font-weight: 200;
  src: url("./font/JosefinSans-ExtraLight.woff") format("woff");
  src: url("./font/JosefinSans-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "josefin";
  font-weight: 500;
  src: url("./font/JosefinSans-Medium.woff") format("woff");
  src: url("./font/JosefinSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "josefin";
  font-weight: 600;
  src: url("./font/JosefinSans-SemiBold.woff") format("woff");
  src: url("./font/JosefinSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "josefin";
  font-weight: 700;
  src: url("./font/JosefinSans-Bold.woff") format("woff");
  src: url("./font/JosefinSans-Bold.woff2") format("woff2");
}
